<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Scrumptious Recipes</title>
  <p>{{ recipe.created_on|date:"REPLACE ME" }}</p>
  <link rel="stylesheet" href={% static "css/recipes.css" %}>
</head>
<body>
  <header>
    <nav>
      <a href="{% url 'recipe_list' %}">Main Page</a>
      <a href="{% url 'create_recipe' %}">Create a recipe</a>
      <!-- <a href="detail.html">Recipes</a> -->
    </nav>
  </header>
  <main>
    <h1>Scrumptious Recipes</h1>
    <h2>All the food that's fit to eat</h2>
    <div class="recipes-grid">
      {% for recipe in recipe_list %}
      <div>
        <h3>
          <a href="{% url 'show_recipe' recipe.id %}">{{recipe.title}}</a>
        </h3>
        <img src="{{recipe.picture}}" alt="Six tacos!" height="200px">
        <div>
          4.3 stars
        </div>
      </div>
      {% endfor %}
    </div>
  </main>
  <footer>
    Made with love by Scrumptious Recipes
  </footer>
</body>
</html>